# Исключаем файлы и директории, которые не нужны в контейнере

# Игнорируем файлы конфигурации IDE
.idea/
.vscode/

# Игнорируем файлы и директории, связанные с виртуальными окружениями
venv/
.env

# Игнорируем файлы и директории, связанные с тестированием
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
.coverage
.tox/
.cache/
pytest_cache/
htmlcov/

# Игнорируем файлы и директории, связанные с системой контроля версий
.git/
.gitignore

# Игнорируем файлы и директории, которые могут содержать чувствительные данные
*.env
*.key
*.pem

# Игнорируем файлы журналов и временные файлы
*.log
*.tmp
*.swp
*.swo

# Игнорируем файлы и директории, которые не нужны для сборки контейнера
docker-compose.yml
Dockerfile
